.Kwadrat {
    position: relative;
    padding: 9rem;
    display: flex;
}

.mainClass {
    position: absolute;
    padding: 0.8rem;
    border-radius: 100px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loading;
}

.colorClass1 {
    top: 0;
    left: 0;
    background-color:#3f3d3d;   
    animation-delay: 0.45s;
}

.colorClass2 {
    background-color:#a7a6a6;
    top: 0rem;
    left: 3rem;
    animation-delay: 0.3s;
}

.colorClass3 {
    background-color:#c2c0c0;
    left: 6rem;
    top: 0;
    animation-delay: 0.15s;
}

.colorClass4 {
    top: 0;
    left: 9rem;
    background-color:#6e6969;
    animation-delay: 0s;
}


@keyframes loading{
    0% {
        top: 0;
    }
    50% {
        top: 3rem;
    } 
    100% {
        topz: 0;
    }

    
}